body {
    background-color:antiquewhite;
}

h1 {
    color: burlywood;
    text-align: center;
}

img {
    height: 400px;
    width: auto;
    opacity: 80%;
    margin-left:555px;
}

.liste{
  background-color: white;
}

ul{
  color: red;
}
